@import 'navbar';

html,body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

.title {
    width: 100%;
    border-bottom: 2px solid black;
    margin: 10px 0 30px 0;
}

.clients-list {
    border-right: 2px solid black;
    border-radius: 0% !important;
    padding: 0 !important;
    height: 93.3vh;
    max-width: 450px !important;

    .client-name {
        margin-top: 5px;
    }

    .btn {
        font-size: 14px !important;
        width: 120px;
        height: 35px;
    }

    .btn-primary {
        width: 140px;
    }
}